.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    margin-top: 50px;
    border-radius: 30px;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border: none;
}