.container {
    margin-top: 20px;
    text-align: center;
}

.btn {
    color: #000;
    margin: 10px 0 0 10px;
    cursor: pointer;
    padding: 10px;
    outline: none; /* Remove o contorno padrão ao clicar */
    border: none;
    border-radius: 10%;
    transition: 1s;
  }

  .btn:hover {
    color: #fff
  }